        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class="image d-flex flex-column justify-content-center align-items-center">
                    <button class="btn">
                        <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" height="100" width="100"/>
                    </button>
                    <span class="name mt-3">Group name: GPA </span>
                    <span class="name mt-3">Member 1: </span>
                    <span class="name mt-3">Member 2: </span>
                    <span class="name mt-3">Member 3: </span>
                    <span class="name mt-3">University of science </span>


            <span>GPA.com, Inc. is an Viet Name multinational technology company.<br/><br/>
              E-commerce, cloud computing, digital streaming, and artificial intelligence
            </span>
                    </div>
                    <div class=" gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span>
                    </div>
                    <div class="px-2 rounded mt-4 date">
                        <span class="join">Joined Dec,2021</span>
                    </div>
                </div>
            </div>
        </div>